
<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://localhost/bil/public/css/style.css" rel="stylesheet">
</head>


<body>
<!-- /.top-bar -->
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <!-- logo -->
                <div class="logo">
                    <a href="http://localhost/bil/"><img src="http://localhost/bil/public/images/logo-white.jpg" alt="Bilficom Media and Systems"></a>
                </div>
            </div>
            <!-- logo -->
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                <div id="navigation">
                    <!-- navigation start-->
                    <ul>
                        <li class="active"><a href="http://localhost/bil/" class="animsition-link">Home</a></li>
                        <li><a href="http://localhost/bil/about-us" class="animsition-link">About Us</a></li>
                        <li><a href="http://localhost/bil/edmund-obilo" class="animsition-link">Director's Profile</a></li>
                        <li><a class="animsition-link">Courses</a>
                            <ul>
                                                                <li><a href="http://localhost/bil/course/interview-skills-for-media" title="Interview Skills for Media, Law and General Communications" class="animsition-link text-capitalize">Interview Skills for Media, Law and General Communications</a></li>
                                                            </ul>
                        </li>
                        <li><a href="http://localhost/bil/gallery" class="animsition-link">Gallery</a></li>
                        <li><a href="http://localhost/bil/blog" class="animsition-link">Blog</a></li>
                        <li><a href="http://localhost/bil/contact-us" class="animsition-link">Contact Us</a></li>
                    </ul>
                </div>
                <!-- /.navigation start-->
            </div>
        </div>
    </div>
</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://localhost/bil/public/js/jquery.min.js"></script>
    <script type="text/javascript" src="http://localhost/bil/public/js/menumaker.js"></script>
  
    <!-- slider script -->


</html>
